<html>
	<head>
		<title>UWCS Gaming</title>
		<link href="static/main.css" rel="stylesheet" type="text/css" />
		<link href="static/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="static/main.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="logo">
					<img src="static/logo.png" />
				</div>
			</div>
			<div id="page">
				<div id="sidebar">
					<ul>
						<li>
							<h2>Utilities:</h2>
						</li>
						<!--chrome-->
						<li>
							<a href="#" onclick="utils('chrome');return false" title="Launch a new Chrome window">Chrome</a>
						</li>
						<!--codd-->
						<li>
							<a href="#" onclick="utils('ssh');return false" title="ssh to compsoc's servers or your own.">ssh</a>
						</li>
						<!--volume controls-->
						<li>
							<a href="#" onclick="utils('volume');return false" title="Volume Controls, headphones needed.">Volume Controls</a>
						</li>
						<!--mouse controls-->
						<li>
							<a href="#" onclick="utils('mouse');return false" title="Adjust mouse properties such as sensitivity and acceleration.">Mouse Controls</a>
						</li>
						<!--fixres-->
						<li>
							<a href="#" onclick="utils('fixres');return false" title="Fix the resolution if a game hasn't returned it to normal.">Fix resolution</a>
						</li>
						<li>
							<h2>Installed:</h2>
						</li>
						<% for(var i in packages){
							if(packages[i].type=="game" && packages[i].installed == 1)
						%>
							<li>
								<a href="#<%=i%>" title="<%=i%>"><%=i%></a>
							</li>
						<% } %>
					</ul>
				</div>
				<div id="content">
					<h1>Welcome to gaming-get</h1>
					<h2>Available packages:</h2>
					<% for(var i in packages){
						if(packages[i].type == "game") {%>
						<div class="package" id="<%=i%>">
						<% if(packages[i].installed == 1){ %>
							<a class="button launch" href="#"  title="Launch <%=i%>"onclick="launch('<%=i%>');return false" >Launch</a>
							<a class="button launching" href="#" title="Launching <%=i%>..." style="display:none" >Launching...</a>
						<% }else{%>
							<a class="button launch" href="#" title="Launch <%=i%>" onclick="launch('<%=i%>');return false" style="display:none" >Launch</a>
							<a class="button launching" href="#" title="Launching <%=i%>..." style="display:none" >Launching...</a>
							<a class="button install" href="#" title="Install <%=i%>" onclick="install('<%=i%>');return false" >Install</a>
						<% } %>
							<span class="title"><a href="#" onclick="toggleVisible('<%=i%>');return false" ><%=i%></a></span>
							<span class="info"><%=packages[i].description%></span>
							<span class="progress">
								<div class="barContainer">
									<div class="undone"></div>
									<div class="done"></div>
								</div>
							</span>
						</div>
					<% }} %>
				</div>
				<div id="footer-spacer"></div>
			</div>
		</div>
		<div id="footer">
			<span>&copy; University of Warwick Computing Society</span>
		</div>
	</body>
</html>
